# Rust
/target/
/debug/
/release/
*.rs.bk
*.rlib
*.prof*

# IDE/editor
.vscode/
.idea/

# Logs & env
*.log
.env*

# macOS
.DS_Store

# Coverage / tooling
coverage/

# AI Agent
.agent

# personal
/.github
/.specify
